<div class="span-4 last nav round">
Alex Beal | Logout
</div>

<div class="header">
	<%= image_tag "main_logo.png", :alt => "TSPoon Logo", :class => "round" %>
</div>

<div class="form_container">
	<form class="main_form">
		<input type="text" name="hash" value="Hash" />
		<input type="file" name="to_hash" />
	</form>
</div>
